.App {
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
}

.Loader {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
.typing-text,
.typing-text-second {
    font-family: 'Trispace', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 0;
    vertical-align: top;
    animation: typing 2s steps(25, end) 1.5s 1 normal both;
  }
  
.typing-text-second {
    animation-delay: 3.5s;
  }

button {
    font-family: 'Trispace', sans-serif;
    text-align: center;
    justify-content: center;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in-button {
    animation: fadeIn 0.5s 6s forwards;
    opacity: 0;
  }